<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src='@Href("/Scripts/jquery-1.6.4.js")'></script>
    <script src='@Href("/Scripts/jquery.signalR-1.0.1.js")'></script>
    <script src="~/signalr/hubs"></script>
    <script src='@Href("/Scripts/extjs/ext-all-debug.js")'></script>
    <script src='@Href("/Scripts/extjs/ext-neptune-debug.js")'></script>
    <script src='@Href("/Scripts/App/Types.js")'></script>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/Resources/css/ext-neptune.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()
</body>
</html>
